*{
    box-sizing: border-box;
    margin: 0;
}

#CalcContainer{
    background-color: #222222;
    border: 5px solid #4e4d4d;
    padding: 10px;
    width: 400px;
}

#DisplaySect{
    background: #707070;
    color: #000000;
    font-size: 40px;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

#SymbolSect{
    margin: 30px 0 10px;
}

.CalcItem{
    background: white;
    border: none;
    border-radius: 2px;
    font-size: 30px;
    height: 80px;
    padding: 10px 20px;
    width: 90px; 
}

.RowContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px 0;
}

.SymbolItem{
    background: #ffbc00;
}

.MiscItem{
    background: orange;
}

body{
    background: #ffa50026;
    display: flex;
    font-family: monospace;
    justify-content: center;
    margin: 50px 200px 0;
}